<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h3 id="myModalLabel">Section</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input class="form-control" id="name" type="text" value="<%= @section.name %>" readonly="readonly">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Level</label>
					<div class="col-sm-10">
						<input class="form-control" id="level" type="text" value="<%= @section.level %>" readonly="readonly">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Room Number</label>
					<div class="col-sm-10">
						<input class="form-control" id="room_no" type="text" value="<%= @section.room_number %>" readonly="readonly">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Adviser</label>
					<div class="col-sm-10">
						<input class="form-control" id="room_no" type="text" value="<%= @section.try(:employee).try(:fname) %> <%= @section.try(:employee).try(:lname) %>"readonly="readonly">
					</div>
				</div>
			</form>
			<br>
			<p class="text-center"><strong>Students Enrolled</strong></p>
			<div class="table-responsive">
				<table class="table table-default table-hover">
					<thead>
						<th class="col-sm-5">ID</th>
						<th class="col-sm-7" colspan="3">Name</th>
					</thead>
					<tbody>
						<% @students.each do |student| %>
							<tr>
								<td style="text-align: center"><%= student.student_id %></td>
								<td style="text-align: center"><%= student.fname %></td>
								<td style="text-align: center"><%= student.mname %></td>
								<td style="text-align: center"><%= student.lname %></td>
							</tr>
						<% end %>
				  	</tbody>
				</table>
			</div>
		</div>
	</div>
</div>