<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h3 id="myModalLabel">Student</h3>
		</div>
		<div class="modal-body">
			<ul class="nav nav-tabs nav-justified" style="border: 0px; background-color: white;">
				<li class="active"><a data-toggle="tab" href="#personal">Personal</a></li>
				<li><a data-toggle="tab" href="#father">Father</a></li>
				<li><a data-toggle="tab" href="#mother">Mother</a></li>
				<li><a data-toggle="tab" href="#academic">Academic</a></li>
			</ul><br>
			<form class="form-horizontal">
				<div class="tab-content">
					<div id="personal" class="tab-pane fade in active">
						<div class="form-group">
							<label class="col-sm-2 control-label">ID</label>
							<div class="col-sm-10">
								<input class="form-control" id="student_id" type="text" value="<%= @student.student_id %>" readonly="readonly">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Username</label>
							<div class="col-sm-10">
								<input class="form-control" id="username" type="text" value="<%= @student.username %>" readonly="readonly">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Name</label>
							<div class="col-sm-10">
								<input class="form-control" id="name" type="text" value="<%= @student.fname + " " + @student.mname + " " + @student.lname %>" readonly="readonly">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Sex</label>
							<div class="col-sm-10">
								<input class="form-control" id="sex" type="text" value="<%= @student.sex %>" readonly="readonly">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Address</label>
							<div class="col-sm-10">
								<input class="form-control" id="address" type="text" value="<%= @student.address %>" readonly="readonly">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Birthdate</label>
							<div class="col-sm-10">
								<input class="form-control" id="birthdate" type="text" value="<%= @student.birthdate %>" readonly="readonly">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Age</label>
							<div class="col-sm-10">
								<input class="form-control" id="age" type="text" value="<%= @student.age %>" readonly="readonly">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Handedness</label>
							<div class="col-sm-10">
								<input class="form-control" id="handedness" type="text" value="<%= @student.handedness %>" readonly="readonly">
							</div>
						</div>
					</div>
					<div id="father" class="tab-pane fade">
						<div class="form-group">
							<label class="col-sm-2 control-label">Name</label>
							<div class="col-sm-10">
								<input class="form-control" id="father_fname" type="text" value="<%= @student.father_fname + " " + @student.father_mname + " " + @student.father_lname %>" readonly="readonly">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Occupation</label>
							<div class="col-sm-10">
								<input class="form-control" id="father_occupation" type="text" value="<%= @student.father_occupation %>" readonly="readonly">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Age</label>
							<div class="col-sm-10">
								<input class="form-control" id="father_age" type="text" value="<%= @student.father_age %>" readonly="readonly">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Attainment</label>
							<div class="col-sm-10">
								<input class="form-control" id="father_educ_attainment" type="text" value="<%= @student.father_educ_attainment %>" readonly="readonly">
							</div>
						</div>
					</div>
					<div id="mother" class="tab-pane fade">
						<div class="form-group">
							<label class="col-sm-2 control-label">Name</label>
							<div class="col-sm-10">
								<input class="form-control" id="mother_name" type="text" value="<%= @student.mother_fname + " " + @student.mother_mname + " " + @student.mother_lname %>" readonly="readonly">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Occupation</label>
							<div class="col-sm-10">
								<input class="form-control" id="mother_occupation" type="text" value="<%= @student.mother_occupation %>" readonly="readonly">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Age</label>
							<div class="col-sm-10">
								<input class="form-control" id="mother_age" type="text" value="<%= @student.mother_age %>" readonly="readonly">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Attainment</label>
							<div class="col-sm-10">
								<input class="form-control" id="mother_educ_attainment" type="text" value="<%= @student.mother_educ_attainment %>" readonly="readonly">
							</div>
						</div>
					</div>
					<div id="academic" class="tab-pane fade">
						<div class="form-group">
							<label class="col-sm-2 control-label">Section</label>
							<div class="col-sm-10">
								<input class="form-control" id="section" type="text" value="<%= @student.try(:section).try(:name) %>" readonly="readonly">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Adviser</label>
							<div class="col-sm-10">
								<input class="form-control" id="adviser" type="text" value="<%= @student.try(:section).try(:employee).try(:fname) %> <%= @student.try(:section).try(:employee).try(:lname) %>" readonly="readonly">
							</div>
						</div>
					</div>
				</div>
			</form>	
		</div>
	</div>
</div>