<div class="col-sm-10 col-sm-offset-2 main">
	<h3>Update Student</h3>
	<div class="panel panel-default">
		<div class="panel-body">
			<%= form_for(@student, :url => {:action => "update_student"}, :html => {:class => "form-horizontal"}) do |f| %>
				<div class="well">
					<div class="row">
						<p class="text-center"><strong>Personal Information</strong></p>
						<div class="form-group">
							<%= f.label :student_id, "ID Number", class: "col-sm-2 control-label" %>
							<div class="col-sm-9">
								<%= f.text_field :student_id, class: "form-control" %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :name, "Name", class: "col-sm-2 control-label" %>
							<div class="col-sm-3">
								<%= f.text_field :fname, class: "form-control" %>
							</div>
							<div class="col-sm-3">
								<%= f.text_field :mname, class: "form-control" %>
							</div>
							<div class="col-sm-3">
								<%= f.text_field :lname, class: "form-control" %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :sex, "Sex", class: "col-sm-2 control-label" %>
							<div class="col-sm-9">
								<label class="radio-inline">
									<%= f.radio_button :sex, 'M' %> Male
								</label>
								<label class="radio-inline">
									<%= f.radio_button :sex, 'F' %> Female
								</label>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :address, "Address", class: "col-sm-2 control-label" %>
							<div class="col-sm-9">
								<%= f.text_field :address, class: "form-control" %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :name, "Birthdate", class: "col-sm-2 control-label" %>
							<div class="col-sm-9">
								<%= f.text_field :birthdate, :value => @student.birthdate.strftime("%m/%d/%Y"), class: "form-control", "data-provide" => 'datepicker' %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :handedness, "Handedness", class: "col-sm-2 control-label" %>
							<div class="col-sm-9">
								<label class="radio-inline">
									<%= f.radio_button :handedness, 'Right' %> Right
								</label>
								<label class="radio-inline">
									<%= f.radio_button :handedness, 'Left' %> Left
								</label>
								<label class="radio-inline">
									<%= f.radio_button :handedness, 'Both' %> Both
								</label>
								<label class="radio-inline">
									<%= f.radio_button :handedness, 'N/A' %> Not yet established
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="well">
					<div class="row">
						<p class="text-center"><strong>Father's Information</strong></p>
						<div class="form-group">
							<%= f.label :father_name, "Name", class: "col-sm-2 control-label" %>
							<div class="col-sm-3">
								<%= f.text_field :father_fname, class: "form-control" %>
							</div>
							<div class="col-sm-3">
								<%= f.text_field :father_mname, class: "form-control" %>
							</div>
							<div class="col-sm-3">
								<%= f.text_field :father_lname, class: "form-control" %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :father_occupation, "Occupation", class: "col-sm-2 control-label" %>
							<div class="col-sm-9">
								<%= f.text_field :father_occupation, class: "form-control" %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :father_age, "Age", class: "col-sm-2 control-label" %>
							<div class="col-sm-9">
								<%= f.text_field :father_age, class: "form-control" %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :father_educ_attainment, "Attainment", class: "col-sm-2 control-label" %>
							<div class="col-sm-9">
								<label class="radio-inline">
									<%= f.radio_button :father_educ_attainment, 'Elementary' %> Elementary
								</label>
								<label class="radio-inline">
									<%= f.radio_button :father_educ_attainment, 'High School' %> High School
								</label>
								<label class="radio-inline">
									<%= f.radio_button :father_educ_attainment, 'College' %> College
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="well">
					<div class="row">
						<p class="text-center"><strong>Mother's Information</strong></p>
						<div class="form-group">
							<%= f.label :mother_name, "Name", class: "col-sm-2 control-label" %>
							<div class="col-sm-3">
								<%= f.text_field :mother_fname, class: "form-control" %>
							</div>
							<div class="col-sm-3">
								<%= f.text_field :mother_mname, class: "form-control" %>
							</div>
							<div class="col-sm-3">
								<%= f.text_field :mother_lname, class: "form-control" %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :mother_occupation, "Occupation", class: "col-sm-2 control-label" %>
							<div class="col-sm-9">
								<%= f.text_field :mother_occupation, class: "form-control" %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :mother_age, "Age", class: "col-sm-2 control-label" %>
							<div class="col-sm-9">
								<%= f.text_field :mother_age, class: "form-control" %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :mother_educ_attainment, "Attainment", class: "col-sm-2 control-label" %>
							<div class="col-sm-9">
								<label class="radio-inline">
									<%= f.radio_button :mother_educ_attainment, 'Elementary' %> Elementary
								</label>
								<label class="radio-inline">
									<%= f.radio_button :mother_educ_attainment, 'High School' %> High School
								</label>
								<label class="radio-inline">
									<%= f.radio_button :mother_educ_attainment, 'College' %> College
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="well">
					<div class="row">
						<p class="text-center"><strong>Academic Information</strong></p>
							<div class="form-group">
							<%= f.label :section_id, "Section", class: "col-sm-2 control-label" %>
							<div class="col-sm-9">
								<%= f.select(:section_id, @sections, {}, {class: "form-control"}) %>
							</div>
						</div>
					</div>
				</div><br>
				<div class="row">
					<div class="col-sm-4 col-sm-offset-2">
						<%= f.submit "Update", class: "btn btn-default btn-primary btn-block" %>
					</div>
			<% end %>
				<div class="col-sm-4">
					<%= button_to('Back', "/admin/students", {method: 'get', :class => 'btn btn-large btn-primary btn-block'})  %>
				</div>
		</div>	
	</div>
</div>