<div class="col-md-10 col-md-offset-2 main">
	<h3 class="page-header">Profile</h3>
	<div class="row">
		<div class="well">
			<form class="form-horizontal">
				<p class="text-center"><strong>Personal Information</strong></p>
				<div class="form-group">
					<label class="col-md-2 control-label">Name</label>
					<div class="col-md-3">
						<input class="form-control" id="fname" type="text" value="<%= @student.fname %>" readonly="readonly">
					</div>
					<div class="col-md-3">
						<input class="form-control" id="mname" type="text" value="<%= @student.mname %>" readonly="readonly">
					</div>
					<div class="col-md-3">
						<input class="form-control" id="lname" type="text" value="<%= @student.lname %>" readonly="readonly">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Sex</label>
					<div class="col-md-9">
						<input class="form-control" id="sex" type="text" value="<%= @student.sex %>" readonly="readonly">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Address</label>
					<div class="col-md-9">
						<input class="form-control" id="address" type="text" value="<%= @student.address %>" readonly="readonly">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Birthdate</label>
					<div class="col-md-9">
						<input class="form-control" id="birthdate" type="text" value="<%= @student.birthdate %>" readonly="readonly">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Age</label>
					<div class="col-md-9">
						<input class="form-control" id="age" type="text" value="<%= @student.age %>" readonly="readonly">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Handedness</label>
					<div class="col-md-9">
						<input class="form-control" id="handedness" type="text" value="<%= @student.handedness %>" readonly="readonly">
					</div>
				</div>
				<br>
				<p class="text-center"><strong>Father's Information</strong></p>
				<div class="form-group">
					<label class="col-md-2 control-label">Name</label>
					<div class="col-md-3">
						<input class="form-control" id="father_fname" type="text" value="<%= @student.father_fname %>" readonly="readonly">
					</div>
					<div class="col-md-3">
						<input class="form-control" id="father_mname" type="text" value="<%= @student.father_mname %>" readonly="readonly">
					</div>
					<div class="col-md-3">
						<input class="form-control" id="father_lname" type="text" value="<%= @student.father_lname %>" readonly="readonly">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Occupation</label>
					<div class="col-md-9">
						<input class="form-control" id="father_occupation" type="text" value="<%= @student.father_occupation %>" readonly="readonly">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Age</label>
					<div class="col-md-9">
						<input class="form-control" id="father_age" type="text" value="<%= @student.father_age %>" readonly="readonly">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Educational Attainment</label>
					<div class="col-md-9">
						<input class="form-control" id="father_educ_attainment" type="text" value="<%= @student.father_educ_attainment %>" readonly="readonly">
					</div>
				</div>
				<br>
				<p class="text-center"><strong>Mother's Information</strong></p>
				<div class="form-group">
					<label class="col-md-2 control-label">Name</label>
					<div class="col-md-3">
						<input class="form-control" id="mother_fname" type="text" value="<%= @student.mother_fname %>" readonly="readonly">
					</div>
					<div class="col-md-3">
						<input class="form-control" id="mother_mname" type="text" value="<%= @student.mother_mname %>" readonly="readonly">
					</div>
					<div class="col-md-3">
						<input class="form-control" id="mother_lname" type="text" value="<%= @student.mother_lname %>" readonly="readonly">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Occupation</label>
					<div class="col-md-9">
						<input class="form-control" id="mother_occupation" type="text" value="<%= @student.mother_occupation %>" readonly="readonly">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Age</label>
					<div class="col-md-9">
						<input class="form-control" id="mother_age" type="text" value="<%= @student.mother_age %>" readonly="readonly">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Educational Attainment</label>
					<div class="col-md-9">
						<input class="form-control" id="mother_educ_attainment" type="text" value="<%= @student.mother_educ_attainment %>" readonly="readonly">
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<button type="button" class="btn btn-default btn-block"><%= link_to 'Back', "/admin/students" %></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>