<div class="col-sm-10 col-sm-offset-2 main">
	<h3>Payments List</h3>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-horizontal">
				<div class="well">
					<div class="row">
						<div class="form-group">
							<label class="col-sm-2 control-label">Tuition</label>
							<div class="col-sm-9">
								<div class="input-group">
									<span class="input-group-addon">P</span>
									<input class="form-control" id="tuition" type="text" value="<%= @assessment.tuition %>" readonly="readonly">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Other Fees</label>
							<div class="col-sm-9">
								<div class="input-group">
									<span class="input-group-addon">P</span>
									<input class="form-control" id="other_fees" type="text" value="<%= @assessment.other_fees %>" readonly="readonly">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Other Assessment</label>
							<div class="col-sm-9">
								<div class="input-group">
									<span class="input-group-addon">P</span>
									<input class="form-control" id="other_assessment" type="text" value="<%= @assessment.other_assessment %>" readonly="readonly">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Total Assessment</label>
							<div class="col-sm-9">
								<div class="input-group">
									<span class="input-group-addon">P</span>
									<input class="form-control" id="total_assessment" type="text" value="<%= @assessment.total_assessment %>" readonly="readonly">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-default table-hover">
					<thead>
						<th class="col-sm-3">Date</th>
						<th class="col-sm-2">Method</th>
						<th class="col-sm-3">Amount</th>
						<th class="col-sm-3">Balance</th>
					</thead>
					<tbody>
						<% @payments.each do |payment| %>
							<tr>
								<td style="text-align: center"><%= payment.date.strftime("%m/%d/%Y") %></td>
								<td style="text-align: center"><%= payment.method %></td>
								<td style="text-align: center">P<%= payment.amount %></td>
								<td style="text-align: center">P<%= payment.balance %></td>
							</tr>
						<% end %>
				  	</tbody>
				</table>
			</div>
		</div>
	</div>
</div>